#
# ignore file
#

!.gitignore

#
# OS specific
#
# MacOS
.DS_Store

# Windows
Thumbs.db
Thumbs.db:encryptable


#
# Editors / debuggers / other output files
#
*~
*.bak
*.orig
*.patch
*.diff
callgrind.out.*

#
# Git stuff
#
# stgit directories
patches-*
.git/
*.rej


#
# IDE & other softwares
#
/.settings/
/.externalToolBuilders/*
# exclude in all levels
nbproject/private/
.sync.ffs_db

#
# Eclipse
#
*.pydevproject
.metadata
.gradle
tmp/
*.tmp
*.swp
*~.nib
local.properties
.settings/
.loadpath

# External tool builders
.externalToolBuilders/
/node_modules
/npm-debug.*

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

# TeXlipse plugin
.texlipse


#
# WP
#

.htaccess
wp-config.php

#wp-content/plugins/*
#!wp-content/plugins/askimet/*
#!wp-content/plugins/hello.php
#!wp-content/plugins/index.php
#!wp-content/themes/index.php
#!wp-content/themes/twentyfifteen/*
#!wp-content/themes/twentyfourteen/*
#!wp-content/themes/twentythirteen/*

/wp-content/updraft/*







